@keyframes imageDisappear {
    0% {
        opacity: 100%;
    }

    10% {
        transform: translate(-10%, -10%);
    }

    20% {
        transform: translate();
    }

    100% {
        opacity: 0%;
    }
}
