.events {
    position: relative;
    margin: 0 auto;
    width: 100vh;
    height: 50vh;
    text-align: center;
    background-image: linear-gradient(360deg,
        rgba($white, 0.7),
        rgba($events-blue, 0.7)),
        url('../img/levelup.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all .2s;
    border-radius: 5rem;
    clip-path: circle(70%);

    &__box {
        position: absolute;
        top: 75%;
        left: 40%;
    }
    
    &:hover{
        animation: miniCircle 3s ease-in-out;
    }

    &__upgrade {
        position: relative;
        width: 140px;
        height: 100px;
        margin: 5px;
        float: left;
        border: 2px solid #50bcf2;
        box-sizing: border-box;

        &--content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 25px;
            transition: .5s ease;
        }
          
        &--input {
            position: absolute;
            top: 0;
            left: 0;
            width: 140px;
            height: 100px;
            opacity: 0;
            cursor: pointer;

            :checked ~ div {
                background-color: #50bcf2;
            }
        }
          
    }
      
        

    &__content{
        opacity: 0;
    }

    &__content--visibility {
        opacity: 1;
        transform: translateX(-9rem);
        cursor: pointer;
    }
}